/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  display: flex;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  margin: 0 0 0 0;
}

#map {
  height: 100%;
  width: 100%;
}
#sidebar > div{
  padding:  0.5rem;
}

#sidebar {
  position: fixed;
  background-color: white;
  z-index: 1000;
  flex: 0 1 auto;
  padding: 0;
}
/*#side > div {
  padding-right: 0.5rem;
}*/
.side{
  background-color: white;
  box-sizing: border-box;
  padding-top: 0;
  /*margin: 0;*/

}